body {
    background-color: rgb(69, 128, 128);
    color: white;
}

.app h1 {
    text-align: center;
}

.search-field {
    margin-right: 10px
}

.app-search {
    background-color: #a3a3a3;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.todo-list-container {
    margin-bottom: 30px;
}